<div class="col flex-center" id="main">
  <app-title></app-title>
  <div class="row flex-center">
    <div class="col flex-center">
      <img
        src="https://picsum.photos/380"
        alt="random image from picsum.photos"
      />

      <p>
        I like doing random stuff, because I can.
        <br />
        Yeah. That's kinda it.
      </p>
      <div class="row flex-spaces">
        <a href="#" class="paper-btn">Stuff</a>
        <a href="#" class="paper-btn">Socials</a>
        <a href="javascript:void(0);" class="paper-btn disabled">Blog</a>
      </div>
    </div>
  </div>
</div>
